@{
    ViewData["Title"] = "Welcome to Emulator Requester";
}


<a class="navbar-brand" asp-area="" asp-controller="Scoville" asp-action="Index">Scoville Emulator</a>
<a class="navbar-brand" asp-area="" asp-controller="PPME" asp-action="Index">PPME Emulator</a>
<a class="navbar-brand" asp-area="" asp-controller="SOHO" asp-action="Index">SOHO Emulator</a>
